* {
    box-sizing: border-box;
    font-family: 'Tamil Sangam MN', Sans-serif;
    padding: 0;
    margin: 0;
}

/* body {
    background-color: white;
} */

section {
    border-radius: 20px;
    margin: 150px;
    /* box-shadow: #253659; */
}

h2 {
    color: #03a696;
    font-size: 2.2rem;
    font-weight: bold;
}

h4 {
    color: #03a696;
    text-align: start;
    font-weight: 400;
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
    color: #253659;
    line-height: 1.3rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0 auto;
}

.span-color {
    color: #f27457;
}

.span-color2 {
    color: #253659;
}

.span-color3 {
    color: #fff;
}

.icon {
    width: 3vh;
    margin: 5px;
}

.icon-small {
    width: 2.3rem;
}

/* Main */

.container {
    padding: 1rem 2.5rem;
    margin-top: 5vh;
    hyphens: auto;
}

.title {
    margin-top: 3vh;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #f27457;
    text-align: center;
}

.title p {
    margin: 10px 0 10px;
}

#title .img-container {
    width: 25vh;
    margin: 0 auto;
}

.img-profile {
    max-width: 100%;
    border-radius: 50%;
}

#stack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#stack h4 {
    padding: .3rem;
    border-right: 3px solid #f27457;
    text-align: center;
}

.stack-wrapper {
    padding: .3rem;
    
}

.contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 600px;
}

.contact-wrapper img{
    margin: 30px 20px 30px;
}

.btn {
    width: 140px;
    font-size: 1.3rem;
    margin: 30px 0;
}

.sub-title {
    text-align: center;
}

#about .sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .sub-title .span-color {
    display: block;
    font-size: 5.5rem;
    line-height: 5rem;
}

#experience, 
#studies, 
#skills, 
#tools {
    display: flex;
    align-items: center;
}

h5 {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    color: #253659;
}

#experience .sub-title h2,
#studies .sub-title h2 {
    line-height: 2.2rem;
}

#tools {
    margin-bottom: 50px;;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.icon-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.skill-box, 
.tool-box {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 13vw;
    padding: 5px;
    margin: 5px;
    border: 1px solid #f27457;
    border-radius: 10px;
    /* background-color: #f27457; */
}

.skill-box span, 
.tool-box span {
    /* width percentage is set as inline style */
    text-align: center;
    border-radius: 5px;
    background-color: #f27457;
}

#tools h4 {
    text-align: center;
    font-weight: 600;
}

footer {
    background-color: #BF665E;
}

.btn-submit {
    color: #fff;
    background-color: #253659;
}